<div class="dropdown-wrapper">
  <!-- Pendiente de aplicar esta logica para cuando tenga que pasar
      el estado a su hermano/hijo 
  
  <article *ngIf="inputs[2].checked === true"-->
  <!--   <button (click)="getTinyCities()">Log de tiny cities</button> -->
  <article class="dropdown-container">
    <button class="dropdown-title" (click)="toggleDropdown()">
      Show available offices
    </button>
    <ul class="dropdown" [ngClass]="{ active: showDropdown }">
      <li class="dropdown-li" *ngFor="let office of offices">
        <p>
          <strong>{{ office.nameEn }}</strong>
        </p>
        <p>
          <strong>Address: </strong>
          {{ office.address.fullAddressEn }}
        </p>
        <p><strong>Postal code:</strong> {{ office.address.city.postCode }}</p>
        <p>
          <strong>Open from: </strong> {{ office.normalBusinessHoursFrom }}
          <strong> to: </strong> {{ office.normalBusinessHoursTo }}
        </p>
      </li>
    </ul>
  </article>
</div>

<!--  
        Traducir a Angular
        
        <div className="dropdown-container" onClick={changeDropdown}>
        <p className="dropdown-title">{title}</p>
        {<ul className="dropdown">
           <li key={id} className="dropdown-li">
          {city && onCity(city)}
          {office && onOffice(office)}
           </li>
        </ul>}
      </div> -->
