// RADIO BUTTONS
section.section-checkout-summary {
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;
      label {
        margin-left: 4px;
      }
    }
  }
}

// DROPDOWN
.dropdown-container {
  border: 2px solid black;
  width: 260px;
  max-height: 30px;

  .dropdown-title {
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
  }

  .dropdown-arrow,
  .dropdown {
    cursor: pointer;
  }

  .dropdown {
    width: 100%;
    margin-top: 6px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .dropdown-li {
      width: 100%;
      max-height: 120px;
      background-color: white;
      border: 2px solid black;
      p {
        margin: 1px;
      }
    }
    .dropdown-li:first-child {
      margin-top: 15px;
    }
  }

  .dropdown::-webkit-scrollbar {
    width: 1px;
  }
}
